#grid-wrapper{
    display: grid;
    grid-template:
        "header header header" 100px
        "sidebar-1 main sidebar-2" 6000px
        "footer footer footer" 300px
        /1fr 1700px 1fr;
}
#header{
    grid-area: header;
}
#main{
    background-color: rgba(0, 0, 0, 0.2);
    grid-area: main;
}
#sidebar-1{
    background-color: rgba(0, 0, 0, 0.4);
    grid-area: sidebar;
}
#sidebar-2{
    background-color: rgba(0, 0, 0, 0.4);
    grid-area: sidebar;
}
#footer{
    background-color: rgba(0, 0, 0, 0.6);
    grid-area: footer;
}